<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администратор</title>
</head>
<body>
<h1>Добро пожаловать, <span th:text="${currentUser.username}">Admin</span>!</h1>
<br>
<a th:href="@{/logout}">Выйти из системы</a>

<h1>Список пользователей</h1>
<form action="/admin/find" method="post">
    <input type="number" name="id" placeholder="Введите ID пользователя" required/>
    <button type="submit" class="btn btn-primary">Найти пользователя</button>
</form>

<div th:if="${foundUser != null}">
    <h2>Пользователь найден</h2>
    <p>ID: <span th:text="${foundUser.id}"></span></p>
    <p>Имя пользователя: <span th:text="${foundUser.username}"></span></p>
    <p>Email: <span th:text="${foundUser.email}"></span></p>
    <p>Права: <span th:each="role : ${foundUser.roles}" th:text="${role.name} + ' '"></span></p>
</div>
<br>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Email</th>
        <th>Права</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <span th:each="role : ${user.roles}">
                <span th:text="${#strings.substring(role.name, 5)}"></span>
            </span>
        </td>
        <td>
            <form action="/admin/update" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <input type="text" name="username" th:value="${user.username}"/>
                <input type="text" name="email" th:value="${user.email}"/>
                <input type="text" name="password" th:value="${user.password}"/>
                <button type="submit">Обновить</button>
            </form>
            <form action="/admin/delete" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<h2>Добавить пользователя</h2>
<form action="/admin/add" method="post" th:object="${user}">
    <input type="text" th:field="*{username}" placeholder="Имя пользователя" required/>
    <input type="email" th:field="*{email}" placeholder="Email" required/>
    <input type="password" th:field="*{password}" placeholder="Пароль" required/>
    <label>Права:</label>
    <select th:field="*{roleNames}" multiple>
        <option th:each="role : ${allRoles}" th:value="${role.name}"
                th:text="${role.name}"></option>
    </select>
    <button type="submit" class="btn btn-primary mt-2">Добавить</button>
</form>
</body>
</html>
